<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="canonical" href="{{destinationUrl}}"/>
	<meta http-equiv="Refresh" content="0; url={{destinationUrl}}">
	<script type="text/javascript">
		window.location.href = "{{destinationUrl}}"
	</script>
	<title>Page Redirection</title>
</head>
<body>
<!-- Note: don't tell people to `click` the link, just tell them that it is a link. -->
If you are not redirected automatically, follow this <a href="{{destinationUrl}}">link to example</a>.
</body>
</html>